---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Titel">
  <!-- Hero Unit -->
  <section class="p-9">
    <div>
      <h1 class="text-[#FF0000] text-2xl">Single Use Sucks</h1>
      <p class="text-[#1A4468] text-xs">Kom ind i kampen mod plastik</p>
    </div>
    <article class="flex justify-center items-center">
      <div class="pt-11 w-40"><img src="/public/hero-unit.svg" alt="" /></div>
    </article>
  </section>
  <!-- Sektion 1 -->
  <section class="bg-[#EDFCF8] opacity-45 rounded-lg">
    <article class="p-9 pt-18 pb-18">
      <h2 class="text-[#FF0000] text-base font-bold">Plastikudfodringen</h2>
      <div>
        <p class="text-[#1A4468] text-xs pt-3">Siden 1950’erne har vi produceret mere end 9 milliarder ton plastik. Heraf er størstedelen blevet brugt til engangsemballager og -produkter med kort levetid og lav markedsværdi. Disse emballager og produkter forurener i hele deres livscyklus: fra udvindingen af olie, til produktion, transport, forbrug, og når de ender til forbrænding eller i naturen. Alt dette for kun at blive brugt én gang. Indenfor de næste 20 år forventes den globale plastikproduktion at fordobles, og i samme periode forventes plastikforureningen at firedobles.</p>
        <p class="text-[#1A4468] text-xs pt-2">Derfor skal vi have lukket for hanen med engangsplastik nu.</p>
      </div>
      <div class="pt-11"><img src="/public/datavisual1.svg" alt="" /></div>
    </article>
  </section>
  <!-- Sektion 2 -->
  <section class="bg-[#EDFCF8] opacity-45 rounded-lg my-8">
    <article class="p-9 pt-18 pb-18">
      <h2 class="text-[#FF0000] text-base font-bold">Plastikforurening truer livet i havet og på jorden</h2>
      <div>
        <p class="text-[#1A4468] text-xs pt-3">Hver dag forurenes naturen med tusindvis af plaststykker, som aldrig forsvinder igen. Hvert minut tømmes plastikaffald ud i havet, som vikler sig rundt om sæler, skildpadder, delfiner og ender i maver på hvaler, fugle og fisk.</p>
        <p class="text-[#1A4468] text-xs pt-2">Plastikforurening er at finde overalt, fra dybhavet og Marianergraven til toppen af Mount Everest til indlandsisen på Arktis. Det udgør en større og større trussel for vores natur- og havmiljø, økosystemer, samt klimaet og menneskers sundhed. Og det bliver kun værre – det forventes at i 2040 vil plastikforurening være tredoblet, og 80% af den forurening vil udgøre engangsplastik.</p>
      </div>
      <div class="pt-11"><img src="/public/datavisual2.svg" alt="" /></div>
    </article>
  </section>
  <!-- Sektion 3 -->
  <section class="bg-[#EDFCF8] opacity-45 rounded-lg">
    <article class="p-9 pt-18 pb-18">
      <h2 class="text-[#FF0000] text-base font-bold">Vi kæmper for</h2>
      <div>
        <h3 class="text-[#1A4468] text-xs font-semibold pt-3">Et affaldsfrit samfund, hvor plastik bruges igen og igen</h3>
        <p class="text-[#1A4468] text-xs pt-3">I 2017 blev der produceret svimlende 322 millioner tons plastik på verdensplan, og produktionen af plastik forventes at firedobles inden 2050.</p>
        <p class="text-[#1A4468] text-xs pt-2">Samtidig vil det udledte plastikaffald til havmiljøet fordobles inden 2030. Knap 40% af den plastik, der produceres, er plastik til fødevareemballage.</p>
        <p class="text-[#1A4468] text-xs pt-2">En stor andel heraf er engangsplastik – det vil sige plastik, der ikke kan genbruges eller genanvendes.</p>
        <p class="text-[#1A4468] text-xs pt-2">Dens skæbne består enten af afbrænding, ophobes på åbne lossepladser, eller i værste tilfælde ender som plastikforurening i verdenshavene. Plastic Change er blandt andet sat i søen for at forhindre, at noget af dette sker.</p>
      </div>
      <div class="pt-11"><img src="/public/datavisual3.svg" alt="" /></div>
    </article>
  </section>
  <!-- Sektion 4 -->
  <section class="bg-[#EDFCF8] opacity-45 rounded-lg my-8">
    <article class="p-9 pt-18 pb-18">
      <h2 class="text-[#FF0000] text-base font-bold">7 gode råd mod plastikspild</h2>
      <div>
        <h3 class="text-[#1A4468] text-xs font-semibold pt-5">Dit indkøb</h3>
        <p class="text-[#1A4468] text-xs pt-1">Tag mulepose med og sig nej tak til plastikposer</p>
        <h3 class="text-[#1A4468] text-xs font-semibold pt-4">Din vandflaske</h3>
        <p class="text-[#1A4468] text-xs pt-1">Brug drikkedunk og undgå købevand</p>
        <h3 class="text-[#1A4468] text-xs font-semibold pt-4">Din mælk</h3>
        <p class="text-[#1A4468] text-xs pt-1">Køb mælk uden skruelåg</p>
        <h3 class="text-[#1A4468] text-xs font-semibold pt-4">Din fest</h3>
        <p class="text-[#1A4468] text-xs pt-1">Drop engangsservice, balloner og sugerør</p>
        <h3 class="text-[#1A4468] text-xs font-semibold pt-4">Din tøjvask</h3>
        <p class="text-[#1A4468] text-xs pt-1">Fyld maskinen, så du slider mindre på tøjet</p>
        <h3 class="text-[#1A4468] text-xs font-semibold pt-4">Dine plejeprodukter</h3>
        <p class="text-[#1A4468] text-xs pt-1">Køb i store beholdere frem for mange små</p>
        <h3 class="text-[#1A4468] text-xs font-semibold pt-4">Dit toiletbesøg</h3>
        <p class="text-[#1A4468] text-xs pt-1">Kun tre ting i toilettet - tis, lort og papir</p>
      </div>
    </article>
  </section>

  <!-- Sektion 5 -->
  <section class="bg-[#EDFCF8] opacity-45 rounded-lg">
    <article class="p-9 pt-18 pb-18">
      <h2 class="text-[#FF0000] text-base font-bold">Støt vores formål</h2>
      <div>
        <h3 class="text-[#1A4468] text-xs font-semibold pt-3">Du kan beskytte naturen, dyrelivet og vores børn mod plastik</h3>
        <p class="text-[#1A4468] text-xs pt-3">Plastikforurening truer livet i havet og på jorden. Hver dag forurenes naturen med tusindvis af plaststykker, som aldrig forsvinder igen. Hvert minut tømmes plastikaffald ud i havet, som vikler sig rundt om sæler, skildpadder, delfiner og ender i maver på hvaler, fugle og fisk.</p>
        <p class="text-[#1A4468] text-xs pt-2">Kun med din støtte kan vi kæmpe for, at politikere og virksomheder tager ansvar for at standse overproduktion og forurening fra plastik nu og at vi kan uddanne fremtidens forbrugere. Du bliver en del af en global Plastic Changer bevægelse, der siger: STOP PLASTIKFORURENING NU!</p>
      </div>
    </article>
  </section>
  <!-- Sektion 6 -->
  <section class="bg-[#EDFCF8] opacity-45 rounded-lg my-8">
    <article class="p-9 pt-18 pb-18">
      <h2 class="text-[#FF0000] text-base font-bold">Støt os</h2>
      <div>formel</div>
    </article>
  </section>
  <!-- Sektion 7 -->
  <section class="bg-[#EDFCF8] opacity-45 rounded-lg">
    <article class="p-9 pt-18 pb-18">
      <h2 class="text-[#FF0000] text-base font-bold">Merchandise</h2>
      <div>
        <h3 class="text-[#1A4468] text-xs font-semibold pt-3">Vi donerer 5% af omsætningen til havet!</h3>
        <p class="text-[#1A4468] text-xs pt-3">Vi har besluttet, at vi/Hjemhavn ApS fremover (og med tilbagevirkende kraft!) donerer 5% af firmaets omsætning til havet.</p>
        <p class="text-[#1A4468] text-xs pt-2">Donationen varetages af organisationen Plastic Change.</p>
      </div>
    </article>
  </section>
  <!-- Merch kop -->
  <section class="flex justify-center items-center">
    <div class="pt-11 w-40"><img src="/public/kopkrog.svg" alt="merchandise kop" /></div>
  </section>
</MainLayout>
