---
---
<div class="text-[#1A4468] bg-[url('/public/footer1.svg')] w-auto h-64 pt-24 lg:">
    <p class="text-xs text-center underline decoration-1">Tilmeld nyhedsbrev</p>
    <div class="grid grid-cols-2 gap-3 m-5 place-items-center">
        <p class="text-xs">Mail. info@plasticchange.org <br>
            Tlf. +45 42 66 72 46</p>
            <p class="text-xs">
            Telefontid. <br>
            Mandag – Fredag, <br>
            10:00 – 15:00</p>

        </div>
        <p class="text-xs text-center">Følg os på</p>
        <div class="flex my-2 mx-5 justify-center">
            <div class="flex space-x-4">
                <img class="w-6" src="/public/instagram.svg" alt="">
                <img class="w-6" src="/public/linkedin.svg" alt="">
                <img class="w-6" src="/public/twitter.svg" alt="">
                <img class="w-6" src="/public/youtube.svg" alt="">
                <img class="w-6" src="/public/facebook.svg" alt="">
            </div>
        </div>
</div>
  