<form class="bg-[#EDFCF8] opacity-45 rounded-2xl p-3 max-w-sm">
  <h3 class="font-bold text-lg text-[#FF0000]">Støt os</h3>
  <div class="grid grid-cols-4">
    <span class=" text-[#FF0000] col-span-4">Betalingsform:</span>
    <div class="col-span-2">
      <input class="bg-[#EDFCF8] border-[#1A4468] " type="radio" id="mobilp" name="betaling" />
      <label class="text-xs text-[#1A4468]" for="mobilp"> Mobilpay</label>
    </div>
    <div class="col-span-2">
        <input class="bg-[#EDFCF8] border-[#1A4468] " type="radio" id="kort" name="betaling" />
        <label class="text-xs text-[#1A4468]" for="kort">Betalingskort</label><br />
    </div>
</div>
<div class="grid grid-cols-3 py-2">
    <span class="text-[#FF0000] col-span-3">Beløb:</span>
    <div class="py-2">
    <input class="bg-[#EDFCF8] border-[#1A4468] " type="radio" id="engang" name="beløb" />
    <label class="text-xs text-[#1A4468]" for="engsng">En gang</label>
</div>
<div class="py-2">
    <input class="bg-[#EDFCF8] border-[#1A4468] " type="radio" id="månedlig" name="beløb" />
    <label class="text-xs text-[#1A4468]" for="månedlig">Månedligt</label>
</div>
<div class="py-2">
    <input class="bg-[#EDFCF8] border-[#1A4468] " type="radio" id="medlem" name="beløb" />
    <label class="text-xs text-[#1A4468]" for="medlem">Medlem</label>
</div>
<div class="py-2">
    <label for="quantity"></label>
    <input class="bg-[#EDFCF8] border-[#1A4468] rounded-2xl" placeholder="beløb" type="number" id="quantity" name="quantity" />
</div>
</div>
  <div class="grid grid-cols-2 gap-5">
    <div>
      <label class="text-[#FF0000]" for="fname">Fornavn:</label>
      <input class="bg-[#EDFCF8] border-[#1A4468] rounded-2xl w-32 " placeholder="Anders" type="text" id="fname" /><br />
      <label class="text-[#FF0000]" for="ename">Efternavn:</label>
      <input class="bg-[#EDFCF8] border-[#1A4468] rounded-2xl w-32" placeholder="Nielsen" type="text" id="ename" /><br />
    </div>
    <div>
      <label class="text-[#FF0000]" for="mail">E-mail:</label>
      <input class="bg-[#EDFCF8] border-[#1A4468] rounded-2xl w-32" placeholder="and@nils.dk" type="text" id="mail" />
      <label class="text-[#FF0000]" for="tlf">Telefon:</label>
      <input class="bg-[#EDFCF8] border-[#1A4468] rounded-2xl w-32" placeholder="2323****" type="text" id="tlf" />
    </div>
    <button type="submit">Støt nu</button>
  </div>
</form>
