---

---

<div class="flex px-5 md:px-10 mt-10 md:mt-0">
  <div class="flex text-sm md:text-base md:h-20 md:flex-row grow">
    <div class="menu flex flex-col md:flex-row gap-5 md:gap-12 md:self-center hidden">
      <div class="text-[#FF0000] font-medium font-work hover:text-[#1A4468]">
        <a href="#sektion1">Plastikudfordringen</a>
      </div>
      <div class="text-[#FF0000] font-medium font-work hover:text-[#1A4468]">
        <a href="#sektion2">Plastikforureningens konsekvenser</a>
      </div>
      <div class="text-[#FF0000] font-medium font-work hover:text-[#1A4468]">
        <a href="#sektion3">Vi kæmper for</a>
      </div>
      <div class="text-[#FF0000] font-medium font-work hover:text-[#1A4468]">
        <a href="#sektion4">7 gode råd mod plastikspild</a>
      </div>
      <div class="text-[#FF0000] font-medium font-work hover:text-[#1A4468]">
        <a href="#sektion5">Støt os</a>
      </div>
      <div class="text-[#FF0000] font-medium font-work hover:text-[#1A4468]">
        <a href="#sektion7">Merchandise</a>
      </div>
    </div>

    <div class="flex grow justify-end md:self-center">
      <div class="burger-active h-3 md:ml-72 hidden flex flex-col">
        <div class="bar w-8 h-0.5 bg-[#FF0000] rotate-45"></div>
        <div class="bar w-8 h-0.5 bg-[#FF0000] rotate-140 -mt-0.5"></div>
      </div>
      <div class="burger-lukket flex flex-col gap-2 md:ml-72">
        <div class="bar w-8 h-0.5 bg-[#FF0000]"></div>
        <div class="bar w-8 h-0.5 bg-[#FF0000]"></div>
        <div class="bar w-8 h-0.5 bg-[#FF0000]"></div>
      </div>
    </div>
  </div>
</div>

<script>
  const menu = document.querySelector(".menu");
  const burgeractive = document.querySelector(".burger-active");
  const burgerlukket = document.querySelector(".burger-lukket");
  burgerlukket.addEventListener("click", () => {
    burgeractive.classList.remove("hidden");
    menu.classList.remove("hidden");
    burgerlukket.classList.add("hidden");
  });

  burgeractive.addEventListener("click", () => {
    burgerlukket.classList.remove("hidden");
    menu.classList.add("hidden");
    burgeractive.classList.add("hidden");
  });
</script>
